.cards-details{
    height: 330px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    text-align: left;
    border : 1px solid rgb(206, 202, 202);

    &:hover{
        border-color: black;
    }
}

.img-div{
    height: 60%;
    width: 100%;
}

.img-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.content-div{
    height: 40%;
    width: 100%;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.content-div > p{
    color: rgb(59, 58, 58);
}

.time-lesson{
    display: flex;
    width: 100%;
   gap: 8%;
}

.time-lesson > div{
    display: flex;
    align-items: center;
}

.price-enroll{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.price-enroll > span{
    color: green;
    font-weight: 600;
    font-family: sans-serif;
}